14_範例_kevin_API範本/其他原始檔/config.ini
14_範例_kevin_API範本/其他原始檔/main.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/configurations/configurations.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/databases/common.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/databases/ECSAlertDB.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/databases/ECSAlertDB-Read.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/databases/ECSDB.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/databases/ECSDB-Read.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/databases/MongoDB.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/databases/MongoDB-Alert.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/databases/MongoDB-Alert-Create.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/databases/MongoDB-Alert-Read.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/databases/MongoDB-Alert-Update.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/databases/MongoDB-Daily.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/databases/MongoDB-Daily-Create.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/databases/MongoDB-Daily-Read.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/databases/MongoDB-Daily-Update.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/databases/MongoDB-Hourly.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/databases/MongoDB-Hourly-Create.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/databases/MongoDB-Hourly-Read.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/databases/MongoDB-Hourly-Update.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/databases/MongoDB-Periodically.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/databases/MongoDB-Periodically-Create.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/databases/MongoDB-Periodically-Read.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/jsons/jsons.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/logings/logings.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/network/network.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/records/AlertRecord.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/records/common.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/records/DailyRecord.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/records/ECSAlertRecord.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/records/ECSRecord.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/records/HourlyRecord.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/records/SecondRecord.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/servers/common.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/servers/ECServer.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/servers/ECServer-APIs.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/servers/ECServer-Webservices.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/times/forECSAlertRecord.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/times/forECSRecord.go
14_範例_kevin_API範本/其他原始檔/LeapsyPackages/times/times.go
14_範例_kevin_API範本/其他原始檔/原始壓縮檔/Leapsy environmental control web service.rar
10_OK_讀取日打卡紀錄+寫入mongoDB(當日檔案)/Daily-v5.exe
*.2020110510
10_OK_讀取日打卡紀錄+寫入mongoDB(當日檔案)/exe/DailyCsvToMongoDB-v4.exe
10_OK_讀取日打卡紀錄+寫入mongoDB(當日檔案)/exe/10_OK_讀取日打卡紀錄+寫入mongoDB_當日檔案_.exe
10_OK_讀取日打卡紀錄+寫入mongoDB(當日檔案)/Command Prompt.lnk
10_OK_讀取日打卡紀錄+寫入mongoDB(當日檔案)/log/
11a_讀取日打卡紀錄+寫入mongoDB(指定期間所有)_CsvFile_逗號版_純年月日時分格式/11a_讀取日打卡紀錄+寫入mongoDB_指定期間所有__CsvFile_逗號版_純年月日時分格式.exe
11a_讀取日打卡紀錄+寫入mongoDB(指定期間所有)_CsvFile_逗號版_純年月日時分格式/backup.zip
*.2020110513
*.2020110514
11b_讀取日打卡紀錄+寫入mongoDB(指定期間所有)_TsFile_空白版/log/
11b_讀取日打卡紀錄+寫入mongoDB(指定期間所有)_TsFile_空白版/backup20201104-包含csv+st版本.zip
11b_讀取日打卡紀錄+寫入mongoDB(指定期間所有)_TsFile_空白版/11b_讀取日打卡紀錄+寫入mongoDB_指定期間所有__TsFile_空白版.exe
11a_讀取日打卡紀錄+寫入mongoDB(指定期間所有)_CsvFile_逗號版_純年月日時分格式/log/
15_launcher_apk_download/downloadApk.exe
16_api_last_apk_version/16_api_last_apk_version.exe
17_api_clockInRecord_curd/log/
10_OK_讀取日打卡紀錄+寫入mongoDB(當日檔案)/10_OK_讀取日打卡紀錄+寫入mongoDB_當日檔案_.exe
11a_讀取日打卡紀錄+寫入mongoDB(指定期間所有)_CsvFile_逗號版_純年月日時分格式/config.json
11a_讀取日打卡紀錄+寫入mongoDB(指定期間所有)_CsvFile_逗號版_純年月日時分格式/config.json
*.json
11a_讀取日打卡紀錄+寫入mongoDB(指定期間所有)_CsvFile_逗號版_純年月日時分格式/config.json
11a_讀取日打卡紀錄+寫入mongoDB(指定期間所有)_CsvFile_逗號版_純年月日時分格式/config.json
10_read_daily_clock_in_record_into_mongodb/Log_10_read_daily_clock_in_record_into_mongodb/log/info/info
10_read_daily_clock_in_record_into_mongodb/Log_10_read_daily_clock_in_record_into_mongodb/log/info/info
10_read_daily_clock_in_record_into_mongodb/Log_10_read_daily_clock_in_record_into_mongodb/log/info/info
10_read_daily_clock_in_record_into_mongodb/Log_10_read_daily_clock_in_record_into_mongodb/log/info/info
10_read_daily_clock_in_record_into_mongodb/Log_10_read_daily_clock_in_record_into_mongodb/log/info/info
10_read_daily_clock_in_record_into_mongodb/Log_10_read_daily_clock_in_record_into_mongodb/log/info/info
11a_讀取日打卡紀錄+寫入mongoDB(指定期間所有)_CsvFile_逗號版_純年月日時分格式/config.json
10_read_daily_clock_in_record_into_mongodb/Log_10_read_daily_clock_in_record_into_mongodb/log/info/info
11a_讀取日打卡紀錄+寫入mongoDB(指定期間所有)_CsvFile_逗號版_純年月日時分格式/config.json
10_read_daily_clock_in_record_into_mongodb/Log_10_read_daily_clock_in_record_into_mongodb/log/info/info
11a_讀取日打卡紀錄+寫入mongoDB(指定期間所有)_CsvFile_逗號版_純年月日時分格式/config.json
10_read_daily_clock_in_record_into_mongodb/Log_10_read_daily_clock_in_record_into_mongodb/log/info/info
10_read_daily_clock_in_record_into_mongodb/Log_10_read_daily_clock_in_record_into_mongodb/log/info/info
10_read_daily_clock_in_record_into_mongodb/Log_10_read_daily_clock_in_record_into_mongodb/log/info/info
10_read_daily_clock_in_record_into_mongodb/Log_10_read_daily_clock_in_record_into_mongodb/log/info/info
環控-考勤-API/改版1-不回傳超過現在時間的考勤資料/go-rest-api-master/執行檔old/api_checkInRecord_checkInStatiscs.exe
環控-考勤-匯入出勤假資料/backup20201104-包含csv+st版本.zip
